* {
  background-color: #282828;
  font-family: monospace;
  color: #ebdbb2;
  font-size: 16px;
}

h1, p {
  padding-left: 10%;
}

h1 {
  color: #d65d0e;
  font-size: 32px;
  text-decoration: underline;
}

.logo {
  padding-left: 0px;
  text-align: center;
  color: #83a598;
  padding-bottom: 50px;
}
